import(methods)

import(BiocGenerics)
importMethodsFrom(BiocGenerics, mapply)

importMethodsFrom(nucleR, filterFFT, peakDetection)

importFrom(parallel, mclapply)

importMethodsFrom(IRanges, as.vector, sort, coverage, disjointBins, unlist,
                  space)
importFrom(IRanges, IRanges, reduce, findOverlaps)

importClassesFrom(GenomicRanges, GRangesList)
importMethodsFrom(GenomicRanges, split, seqnames)
importFrom(GenomicRanges, GRanges)

importFrom(S4Vectors, Rle, levels, queryHits, subjectHits)

useDynLib(NucDyn)
export(nucleosomeDynamics, findHotspots, plotDynamics, set.a, set.b)
